mongo db
username = vinayvvsk2_db_user
password = rnzQxCxIwfnkb4MO



database user.
username = vinayvvsk2_db_user1
password = rnzQxCxIwfnkb4MO


mongodb+srv://vinayvvsk2_db_user:rnzQxCxIwfnkb4MO@cluster1.zzf5ikb.mongodb.net/?appName=Cluster1